html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
}
h3, download, upload, ping {
    text-align: center;
    display: block;
}
div.outer {
    padding-top: 5vh;
    margin: 1vh 1vw 1vh 1vw;
    height: 25vh;
    width: 98vw;
    border-radius: 2px;
}
div.timer {
    background-color: lightblue;
    margin: 1vh 1vw 1vh 1vw;
    height: 5vh;
    width: 98vw;
    border-radius: 2px;
}
div.timer-cell {
    background: gray;
    height: 4vh;
    width: 8.8vw;
    float: left;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
div.active {
    background: red;
}
div.loading {
    background: blue;
}

#mapid {
    height: 400px;
    width: 400px;
}
